
@using LojaRazor.Internacionalizacao


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        @*Passa se 5 parametros : 1º o Titulo do Link , 2º "Action do Link", 3º Controller que devemos invocar,
            4º Classe dentro de um HTML (Valores Passados na Rota), 5º Atributos para passar do HTML no link  *@

        @Html.ActionLink("Loja Razor", "Index", "Homer", null, new { @class = "brand" })
        <ul class="nav">
            <li>
                @*Modoelo de código sem a intenacionalização*@
                @*@Html.ActionLink("Sobre", "About", "Homer")*@

                @*Com Internacionalização*@
                @Html.ActionLink(Menssagens.Sobre, "About", "Home")

            </li>
            <li>
                @Html.ActionLink(Menssagens.Contato, "Contato", "Homer")
            </li>
        </ul>
        <p class="navbar-text pull-right">

            @if (Session["usuarioLogado"] != null)
            {
                @Menssagens.BemVindo
                @Session["usuarioLogado"]
                @Html.ActionLink(Menssagens.Logout, "Logout", "Autenticacao")
            }

            else
            {
                @Menssagens.OlaVisitante
                @Html.ActionLink(Menssagens.Login, "Index", "Autenticacao")
                @Menssagens.Ou
                @Html.ActionLink(Menssagens.CadastreSe, "Form", "Usuarios")
            }

        </p>
    </div>
</div>
